<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
      <% if current_user %>
      <img class="rounded-circle" src='<%= current_user.avatar.url(:thumb)%>'></img>
      <span class="icon-bar"><%= link_to 'Home', root_path, class: "navbar-brand" %></span>
      <span class="icon-bar"><%= link_to 'My Account', "/users/#{current_user.id}", class: 'nav-link'%></span>
      <span class="icon-bar"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></span>
      <span class="icon-bar"><%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-link' %></span>
      <% else %>
      <span class="icon-bar"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></span>
      <span class="icon-bar"><%= link_to 'Register', new_user_registration_path, class: 'nav-link'  %></span>
      <% end %>
      <% if current_user %>
        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Find Friends!" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      <% end %>
    </nav>
  </header><br>
    <body>
     <div class='container'>
       <% flash.each do |key, value| %>
          <div class='alert alert-info alert-dismissible fade show' role='alert'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= value %>
          </div>
         <% end %>
        <%= yield %>
      </div>
    </body>
</html>
